---
import "@fontsource/poppins";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="w-full mx-4">
    <h1 class="text-5xl mx-4">About</h1>
    <div class="flex flex-row text-center items-start justify-between m-4">
      <img
        height="500"
        width="500"
        src="/public/assets/Ebun.jpeg"
        class="my-2 mx-2 shadow-md drop-shadow-[10px_10px_35px_rgba(39,245,131,0.6)]"
      />

      <!-- right -->
      <div class="mx-2 text-left">
        <p>
          Hi there! I am Ebunoluwa, I am a passionate <strong>
            Frontend developer
          </strong> dedicated to building high-quality software, crafting seamless
          and engaging user experiences that solves real-life problems and makes
          people's lives easier. I like solving problems and bringing ideas to life
          through code.
          <br />I enjoy working on projects that blend functionality with great
          design, such as <strong>JustBeans</strong>, where I independently
          built a full-fledged business website integrating authentication,
          payments, and user engagement. My experience working with Supabase,
          API integrations, and payment gateways like React Paystack has
          strengthened my ability to create dynamic, real-world applications
          that make a positive impact on businesses.
        </p><br />
        <p>
          My expertise lies in <strong>frontend development</strong>, with a
          focus on web applications. I'm proficient in JavaScript and
          comfortable working with frameworks and tools like <strong
            >React, Tailwind CSS, and Node.js.</strong
          >
          <br />
          <p>
            In addition to my technical skills, I excel at collaborating with
            team members and communicating effectively. My strengths go beyond
            technical proficiency—I thrive in team environments, bringing a
            growth mindset, keen attention to detail, and a drive for excellence
            to every line of code. Beyond coding, I'm a lifelong learner
            committed to continuous improvement. Whether it's exploring new
            frameworks, debugging complex issues, or optimizing performance, I
            embrace every challenge as an opportunity to grow.
          </p><br />
          <p>
            When I’m not coding, I enjoy writing about my learnings on <strong>
              <a
                href="#/https://hashnode.com/@Ebuntoday"
                target="_blank"
                rel="noopener noreferrer"
                >Hashnode
              </a></strong
            >
            sharing insights on problem-solving, development best practices, and
            self-improvement. I'm excited about opportunities that allow me to build
            impactful,scalable and dynamic applications, collaborate with like-minded
            individuals, and continue growing as a developer. I'm always looking
            for new opportunities to work on exciting projects, so if you're interested
            in collaborating, please feel free to get in touch. Let’s create something
            amazing together! 🚀.
          </p>
        </p>
        <div class="text-left mx-2">
          <h1 class="text-5xl my-4">MY SKILLS</h1>
          <div class="grid grid-cols-4 gap-4">
            <span
              class="bg-amber-50 p-2 rounded text-slate-900 flex flex-col items-center"
            >
              <img
                src="/assets/tailwind.png"
                class="rounded"
                width="100"
                height="100"
              />
              Tailwind Css
            </span>

            <span
              class="bg-amber-50 p-2 rounded text-slate-900 flex flex-col items-center"
            >
              <img
                src="/assets/js.jpg"
                class="rounded"
                width="100"
                height="100"
              />
              Javascript
            </span>

            <span
              class="bg-amber-50 p-2 rounded text-slate-900 flex flex-col items-center"
            >
              <img
                src="/assets/reactjs.png"
                class="rounded"
                width="100"
                height="100"
              />
              ReactJS
            </span>

            <span
              class="bg-amber-50 p-2 rounded text-slate-900 flex flex-col items-center"
            >
              <img
                src="/assets/styled.png"
                class="rounded"
                width="300"
                height="300"
              />
              Styled Component
            </span>
            <span
              class="bg-amber-50 p-2 rounded text-slate-900 flex flex-col items-center"
            >
              <img
                src="/assets/nodejs.png"
                class="rounded"
                width="100"
                height="100"
              />
              NodeJS
            </span>
            <span
              class="bg-amber-50 p-2 rounded text-slate-900 flex flex-col items-center"
            >
              <img
                src="/assets/git.png"
                class="rounded"
                width="400"
                height="400"
              />
              Git
            </span>
            <span
              class="bg-amber-50 p-2 rounded text-slate-900 flex flex-col items-center"
            >
              <img
                src="/assets/ts.png"
                class="rounded"
                width="400"
                height="400"
              />
              TypeScript
            </span>
            <span
              class="bg-amber-50 p-2 rounded text-slate-900 flex flex-col items-center"
            >
              <img
                src="/assets/sass.png"
                class="rounded"
                width="400"
                height="400"
              />
              Sass
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
