---
import "@fontsource/poppins";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="w-8/12 lg:w-6/12 mx-auto">
    <h1 class="text-3xl my-2">PROJECTS</h1>

    <div
      class="grid md:grid-cols-2 gap-2 drop-shadow-[0px_35px_35px_rgba(39,245,131,0.6)]"
    >
      <a href="/projects/cowrywise">
        <img
          src="/assets/cowrywise.png"
          class="rounded"
          width="300px"
          height="300px"
        />
      </a>
      <a href="/projects/followup-website">
        <img
          src="/assets/followup-website.png"
          class="rounded"
          width="300px"
          height="300px"
        />
      </a>
      <a href="/projects/justBeans">
        <img
          src="/assets/justBeans.png"
          class="rounded"
          width="300px"
          height="300px"
        />
      </a>
      <!-- <a href="/projects/quotegenrator">

        <img
          src="/assets/jb.png"
          class="rounded"
          width="300px"
          height="300px"
        />
      </a> -->
    </div>
  </div>
</Layout>
